<div fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex="{{flexValue}}" fxFlex.xs="{{flexValueXS}}" fxFlex.sm="{{flexValueSM}}" fxFlex.md="{{flexValueMD}}"
    *ngFor="let item of items, let i=index">

    <mat-card class="card-gap mat-elevation-z4 hover">
      <img mat-card-image src="assets/img/blank-img.png" [alt]="item.name" [ngStyle]="{'background':'url('+item.image+')', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'background-position': 'center'}">
      <p class="product_title_text">{{item.name}}</p>

      <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
        <p class="mat-title">${{item.price}}</p>
        <button mat-icon-button color="accent" matTooltip="Add {{item.name}} to cart" (click)="addToCart(item)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>

  </div>
</div>
