a {
  text-decoration: none;
}

.card-gap {
  margin: 10px;
}

.mat-body-1,
.mat-body-2,
.mat-title {
  margin: 0px;
}

.card-head {
  color: #757575;
}

.product_title_text {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box!important;
  line-height: 1.3em!important;
  max-height: 42px;
  min-height: 42px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}
