<!-- MAIN TOOLBAL -->
<mat-toolbar color="primary" class="fixed-bar">
  <span>All Products</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button *ngIf="(cartItems$ | async).length > 0" [matMenuTriggerFor]="cartMenu" [matBadge]="(cartItems$ | async).length" matBadgePosition="above after" matBadgeColor="warn">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button *ngIf="(cartItems$ | async).length === 0" [matMenuTriggerFor]="cartMenu">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <span style="margin: 0px 8px 0px 8px;"></span>

  <button mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>person_pin</mat-icon>
  </button>

  <span style="margin: 0px 8px 0px 8px;"></span>

  <button mat-icon-button (click)="openSignoutDialog()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<!-- MAIN TOOLBAR -->


<!-- CART MENU -->
<mat-menu #cartMenu="matMenu" [overlapTrigger]="false" class="cart-menu">
  <mat-list>
    <h2 class="mat-title">Products in cart</h2>
    <p class="mat-body-1" *ngIf="(cartItems$ | async).length == 0">Please add product to cart</p>
    <mat-list-item *ngFor="let product of products">
      <img matListAvatar src="assets/img/blank-img.png" [alt]="product.name" [ngStyle]="{'background':'url('+product.image+')', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'background-position': 'center'}">
      <h4 mat-line>{{product.name}}</h4>
      <p mat-line>nos: {{product.quantity}} (total: $ {{product.cartPrice}})</p>
      <p mat-line>Actual price: $ {{product.price}} </p>
      <div mat-secondary>
        <button mat-icon-button (click)="$event.stopPropagation();" (click)="removeProduct(product)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="mat-subheading-2">Total:</h3>
    <h2 class="mat-title">$ {{(getTotalAmount$ | async)}}</h2>
  </div>
</mat-menu>
<!-- CART MENU -->

<!-- PROFILE MENU -->
<mat-menu #profile="matMenu" [overlapTrigger]="false" class="profile-menu">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px" style="margin-bottom:20px;">
    <div fxFlex="30">
      <img class="profile-img" [src]="imageURL" alt="profile-pic">
    </div>

    <div fxFlex="70">
      <div fxLayout="column" fxLayoutGap="8px">
        <h1 class="mat-headline name-text">{{userName}}</h1>
        <p class="mat-subheading-2">@ - {{userEmail}}</p>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center start">
    <button mat-button [routerLink]="['/user_profile', userId]">
      <mat-icon color="warn">mode_edit</mat-icon> Edit Profile
    </button>
  </div>
</mat-menu>
<!-- PROFILE MENU -->
