<!-- MAIN TOOLBAL -->
<mat-toolbar color="primary" class="fixed-bar">
  <span>All Products</span>
  <span class="flex-spacer"></span>
  <!-- <button *ngIf="(cartItems$ | async).length > 0" mat-button style="width: 260px;" (click)="cartPanel()">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div style="width: 35px; height: 35px;">
        <mat-icon style="font-size: 35px;">person_pin</mat-icon>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start">
        <p class="mat-subheading-1">{{(cartItems$ | async).length}} Products</p>
        <p class="mat-body-1">&#8377; {{(getTotalAmount$ | async)}}</p>
      </div>
      <span class="fill-remaining-space"></span>
      <div style="width: 30px; height: 30px;">
        <mat-icon style="font-size: 30px;">keyboard_arrow_down</mat-icon>
      </div>
    </div>
  </button> -->
  <button mat-icon-button [matMenuTriggerFor]="cartMenu" [matBadge]="(cartItems$ | async).length" matBadgePosition="above after" matBadgeColor="warn">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <span style="margin: 0px 8px 0px 8px;"></span>

  <button mat-icon-button (click)="openSignoutDialog()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<!-- MAIN TOOLBAR -->


<!-- CART MENU -->
<mat-menu #cartMenu="matMenu" [overlapTrigger]="false" class="cart-menu">
  <mat-list>
    <h3 mat-title>Products in cart</h3>
    <mat-list-item *ngFor="let product of products">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{product.name}}</h4>
      <p mat-line>nos: {{product.quantity}} (total: $ {{product.cartPrice}})</p>
      <p mat-line>Actual price: $ {{product.price}} </p>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="mat-subheading-2">Total:</h3>
    <h2 class="mat-title">$ {{(getTotalAmount$ | async)}}</h2>
  </div>
</mat-menu>
<!-- CART MENU -->