.fixed-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.mat-list .mat-list-item .mat-list-avatar {
  border-radius: 0px !important;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.details-section {
  margin-top:10px;
}

.name-text {
  line-height: 50px;
  font-size: 40px;
  font-weight: 300;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-icon {
  color: #C62828;
  font-size: 24px;
}
