<mat-toolbar color="primary">
  <span>Checkout</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button [mat-dialog-close]="true" tabindex="-1" *ngIf="!isLoading">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="dialog-container">
  <p class="mat-body-2">Please fill out Card details to make payments</p>

  <br>

  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info">Card Info</label>
      <div id="card-info" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Pay ${{ cartAmount }}</button>
      <mat-spinner [diameter]="30" [strokeWidth]="3" *ngIf="isLoading" color="primary"></mat-spinner>
    </div>
  </form>

</mat-dialog-content>
