<div class="signup-container">
  <div class="centered">
    <mat-card class="mat-elevation-z8" fxFlex="500px" fxFlex.xs="250px" fxFlex.sm="400px" fxflex.md="450px" fxFlex.lg="550px"
      fxFlex.xl="600px">
      <form [formGroup]="registerFormGroup" #loginFomr="ngForm" (ngSubmit)="onSignup()" novalidate>
        <div fxLayoutAlign="center ">
          <h2 class="mat-title">SIGNUP</h2>
        </div>
        <br>
        <mat-card-content>
          <mat-grid-list [cols]="1" rowHeight="65px" gutterSize="15">
            <mat-grid-tile>
              <mat-form-field fxFlexFill>
                <input matInput type="text" placeholder="Name" formControlName="name" name="name">
                <mat-error *ngIf="registerFormGroup.controls.name.invalid && (registerFormGroup.controls.name.touched || registerFormGroup.controls.name.dirty || isSubmitted)">
                  <mat-error *ngIf="registerFormGroup.controls.name.errors.required">Name is required</mat-error>
                  <mat-error *ngIf="registerFormGroup.controls.name.errors.minlength">Name must be atleast 3 char long</mat-error>
                  <mat-error *ngIf="registerFormGroup.controls.name.errors.maxlength">Name must not exceed 50
                    characters</mat-error>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field fxFlexFill>
                <input matInput type="email" placeholder="Email" name="email" formControlName="email">
                <mat-error *ngIf="registerFormGroup.controls.email.invalid && (registerFormGroup.controls.email.touched || registerFormGroup.controls.email.dirty || isSubmitted)">
                  <mat-error *ngIf="registerFormGroup.controls.email.errors.required">Email is required</mat-error>
                  <mat-error *ngIf="registerFormGroup.controls.email.errors.pattern">Please enter valid email id</mat-error>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field fxFlexFill>
                <input matInput type="password" placeholder="Password" name="password" formControlName="password">
                <mat-error *ngIf="registerFormGroup.controls.password.invalid && (registerFormGroup.controls.password.touched || registerFormGroup.controls.password.dirty || isSubmitted)">
                  <mat-error *ngIf="registerFormGroup.controls.password.errors.required">Password is required</mat-error>
                  <mat-error *ngIf="registerFormGroup.controls.password.errors.minlength">Password must be atleast 5
                    char long</mat-error>
                  <mat-error *ngIf="registerFormGroup.controls.password.errors.maxlength">Password must not exceed 50
                    characters</mat-error>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>
          <br>
          <div fxLayoutAlign="end center">
            <button mat-raised-button type="submit" color="primary">SIGN UP</button>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <p class="mat-body-2 footer-text">Already Registered? <a [routerLink]="['/login']">Login</a></p>
          </div>
        </mat-card-footer>
      </form>
    </mat-card>
  </div>
</div>
